.button-accent,
a.button-accent {
  padding: 8px 21px !important;
  background-color: $accent-color;
  color: $accent-text-color !important;
  border-radius: 12px;
  font-weight: 200;
  text-decoration: none;

  &.xl {
    font-size: 21px;
    padding: 10px 28px !important;
  }
}

.button-accent:hover,
a.button-accent:hover {
  @include easeOut;
  background-color: darken($color: $accent-color, $amount: 5);
}
