* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.main-content {
  margin-top: 4.5rem;
}

.heading {
  font-family: "Salsa", cursive;
}

.primary-bg {
  background-color: $primary-color;
}