// Head
header.app-header {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 12px;

  .app-header__logo {
    width: 10%;
    img {
      width: 5rem;
    }
  }

  .app-header__spacer {
    flex: 1;
  }

  nav.app-header__nav {
    display: inline;

    a.nav__link {
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      outline: 0;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary-text-color;

      &:hover {
        @include easeOut;
      }

      &:hover,
      &.active {
        color: $secondary-color;
      }
    }
  }
}
