// Head
header.app-header {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 12px;
  top: 0;
  font-family: "Roboto", sans-serif;

  .app-header__logo {
    width: 10%;
    img {
      width: 5rem;
    }
  }

  .app-header__spacer {
    flex: 1;
  }

  .app-header__nav-button {
    padding: 10px 12px;
    margin-top: 2px;
    @include onDesktop {
      display: none;
    }

    @include onMiniDesktop {
      display: none;
    }

    .nav-button__line {
      background-color: $primary-text-color;
      width: 25px;
      height: 3px;
      margin-bottom: 5px;
      @include easeOut;
    }

    &.close {
      .nav-button__line:nth-child(1) {
        transform: rotate(45deg) translate(12px, 11px);
      }

      .nav-button__line:nth-child(2) {
        opacity: 0;
      }

      .nav-button__line:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  nav.app-header__nav {
    display: inline;
    @include onMobile {
      display: block;
      position: fixed;
      top: 5rem;
      left: 0;
      width: 100%;
      padding: 10px 16px;
      background-color: $primary-color;
      opacity: 1;
      height: 100vh;
      padding-top: 20vh;
      overflow-y: hidden;
      @include easeInOut;

      a.nav__link {
        text-align: center;
        align-items: center;
        width: 100% !important;
      }

      &.close {
        opacity: 0;
        transform: translateY(-10px);
      }
    }

    a.nav__link {
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      outline: 0;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary-text-color;

      &:hover {
        @include easeOut;
      }

      &:hover,
      &.active {
        color: $secondary-color;
      }
    }
  }
}

// Jumbotron
.content-jumbotron {
  text-align: center;
  background-image: $jumbotron-bg-big;
  background-position: center;
  background-clip: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include onMobile {
    background-image: $jumbotron-bg-small;
  }

  .jumbotron__overlay {
    padding: 8rem 0;
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    width: 100%;
    height: 100%;

    @include onMobile {
      padding: 3rem 0;
    }
  }

  .jumbotron__title {
    color: $secondary-color;
    font-size: 5rem;
    margin-bottom: 0;

    @include onMobile {
      font-size: 3rem;
    }
  }

  .jumbotron__subtitle {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 3rem;

    @include onMobile {
      font-size: 1rem;
    }
  }
}

// Section
section.app-section {
  padding: 3rem 1rem;

  .heading {
    text-align: center;
    font-size: 2rem;
  }
}

// Grid System
$maxRows: 8;

.app-grid {
  display: grid;

  @for $i from 1 to $maxRows {
    &.lg-#{$i} {
      grid-template-columns: repeat($i, auto);
    }

    &.md-#{$i} {
      @include onMiniDesktop {
        grid-template-columns: repeat($i, auto) !important;
      }
    }

    &.sm-#{$i} {
      @include onMobile {
        grid-template-columns: repeat($i, auto) !important;
      }
    }
  }

  * {
    padding: 20px;
  }
}

// Services
.service {
  grid-column-gap: 50px !important;
  grid-row-gap: 2.5rem !important;

  .service__item {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    @include shadowed;

    i.service-item__icon {
      font-size: 10rem;
      color: $secondary-color;
    }

    .service-item__caption {
      padding: 0;
      margin: 0;
      color: $secondary-color;
      font-size: 2rem;
    }

    .service-item__description {
      font-size: 21px;
      padding: 0;
    }
  }
}

// Works
.work-section {
  padding: 3rem 10rem !important;

  @include onMobile {
    padding: 0 10px !important;
  }

  .work-section__works {
    grid-column-gap: 50px !important;
    grid-row-gap: 2.5rem !important;

    .works__item {
      padding: 35%;
      border-radius: 2rem;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      cursor: pointer;
      @include shadowed;
      @include easeInOut;

      @include onMobile {
        padding: 5rem !important;
      }

      &:hover {
        transform: translateY(-8px);
      }
    }
  }
}
